# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temp files
*.log
*.tmp

# Ignore dependencies
node_modules/

# Ignore virtual environments
venv/
.env

# Ignore build outputs
dist/
build/

.vagrant