services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: demo
      POSTGRES_USER: demo
      POSTGRES_PASSWORD: demo
    volumes:
      - db-data:/var/lib/postgresql/data
      - ../db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  redis:
    image: redis:7-alpine
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data:/data


  backend:
    image: ghcr.io/rokrihar4/devops-backend:latest
    environment:
      DB_DSN: postgresql://demo:demo@db:5432/demo
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:alpine
    depends_on:
      - backend
    ports:
      - "8082:80"
    volumes:
      - ../nginx/default.conf:/etc/nginx/conf.d/default.conf:ro

  frontend:
    image: ghcr.io/rokrihar4/devops-frontend:latest
    depends_on:
      - backend

volumes:
  db-data:
  redis-data:
